@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------ */
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.86, #6864ed),
    color-stop(0.72, #7b78ee)
  );
}

/* ---------------------- */

.stickyAnimation {
  animation: fadeIn 0.4s ease-in-out;
}

.creative-step-text {
  -webkit-text-stroke: 1px #000;
}

.creative-step-text:hover {
  color: #151718;
}

.sidebar-bg-behind {
  animation: fadeIn 0.4s ease-in-out;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.moveDownUp-animation {
  animation: moveDownUp 3s infinite linear;
}

.dropShadow {
  filter: drop-shadow(18px 8px 3px rgba(000, 000, 000, 0.22));
}

/* KEYFRAMES */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes moveDownUp {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8%);
  }
  to {
    transform: translateY(0);
  }
}
